[Desktop Entry]
Name=akatsuki!
Comment=osu! - Rhythm is just a *click* away!
Type=Application
Exec=/home/aqua/.local/bin/osu-wine %U -devserver akatsuki.gg
Icon=/home/aqua/.local/share/icons/osu-wine.png
Terminal=false
Categories=Wine;Game;
Path=
StartupNotify=false
