[Desktop Entry]
Type=Application
Name=Stirling-PDF
Exec="/usr/bin/stirling-pdf" %u
Terminal=false
MimeType=x-scheme-handler/stirlingpdf
NoDisplay=true
