[Desktop Entry]
Type=Application
Name=A Wine application
MimeType=text/x-ms-regedit;
Exec=env "WINEPREFIX=/home/aqua/.wine" wine start /ProgIDOpen "regfile" %f
NoDisplay=true
StartupNotify=true
